@using Google.GData.Client
@using Google.GData.Photos


@{
    ViewBag.Title = "Photos - Santiago Development";
}
<a href="@Url.Action("Index", "photos")">Go Back to All Albums</a>
<div id="nosidebar">	
	<div id="gallery" class="content"> 
		<div id="controls" class="controls"></div> 
		<div class="slideshow-container"> 
			<div id="loading" class="loader"></div> 
			<div id="slideshow" class="slideshow"></div> 
		</div> 
		<div id="caption" class="caption-container"></div> 
	</div> 
	<div id="thumbs" class="navigation"> 
		<ul class="thumbs noscript"> 
		
			@foreach (PicasaEntry entry in ViewData["Photos"] as AtomEntryCollection)
			{
                
				PhotoAccessor ac = new PhotoAccessor(entry);
					   
			<li> 
				<a class="thumb" name="leaf" href="@entry.Media.Content.Attributes["url"]" 
				title="@entry.Title.Text"> 
					<img src="@entry.Media.Thumbnails[0].Attributes["url"]" 
					alt="@entry.Title.Text" /> 
				</a> 
				<div class="caption ui-widget-content ui-corner-all"> 
					<div class="download"> 
						<a href="@entry.Media.Content.Attributes["url"].ToString().Replace("s576/", "")?imgmax=1600">Download Original</a> 
					</div> 
					<div class="image-title">@entry.Title.Text</div> 
					<div class="image-desc">
					@entry.Summary.Text
					<p id="@entry.Summary.Text"></p>
					</div> 
				</div> 
			</li> 	
	  }
		  
		</ul> 
		</div> 
	</div> 

@section scripts {
    @Scripts.Render("~/bundles/gallerific")
}
