@model IQueryable<jamescms.Models.Text>
@using jamescms.Helpers;

@{
    ViewBag.Title = "Text Wall";
}
@if (User.IsInRole("Guides"))
{
    @Html.ActionLink("Push Text Files", "pushtextfiles")
    <span style="float:right">@Html.ActionLink("Pull Text Files", "pulltextfiles")</span>
}

<div id="textWall">
    <section class="page" @if (ViewData["page"] != null) { @Html.Raw("page-number='" + ViewData["page"].ToString() + "'")   } else { @Html.Raw("page-number='1'")   }>
        @foreach (var text in Model)
        {
            @Html.Partial("_SingleText", text)
        }
    </section>
</div>

@section scripts {    
    <script type="text/javascript">
        window.EnableScroll = true;
        textWallInfiniScroll();
    </script>
}