@model jamescms.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<section id="login-form">
<h2>Create an account.</h2>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input id="submit-button" type="submit" value="Register" />
    </fieldset>
}
    </section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
